/* 全局样式 */

html,body,#app{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

 /* body { 
	background-image: url("../assets/image/front2.png");
	background-size: cover;
	background-position: center;
	animation: slideshow 10s infinite;
  } */

.el-breadcrumb{
	margin-bottom: 20px;
}
.el-table{
	margin: 20px 0;
}
.el-input{
	margin-right: 20px;
}
